.left{
   display: flex;
   flex-direction: column;
}
.image {
    width: 100%;
}
.image img {
    width: 100px;
    margin-top: 1%;
}
.information{
    display: flex;
    flex-direction: column;
}
  
.information {
    width: 14em;
    margin-bottom: 10px;
}

.table {
    width: 8em;
}
