.left{
   display: flex;
   flex-direction: column;
}
.image {
    width: 100%;
}
.image img {
    width: 100px;
    margin-top: 1%;
    position: relative;
    top: 10px;
}
.information{
    display: flex;
    flex-direction: column;
}
  
.information {
    width: 10em;
    margin-bottom: 10px;
}

.table {
    width: 8em;
}

.buttonColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buttonColumn button {
    background-color: burlywood;
    border: 2px solid black;
    height: 30%;
    cursor: pointer;
    width: 4em;
    font-weight: 700;
}
.buttonColumn button:hover{
    background-color: rgb(196, 165, 126);
}
